/decrepit-versions/version732025/adaptive_segmented_regions
decrepit-versions/version732025/results/fiber_defective/2_separated/recolor_colormap_autumn/consensus_report.json
*.json
*.npy
*.ttf
*.pyi
*.env
*.0
*.so
*.pkl
*.afm
*.csv
*.jpg
*.png
*.jpeg
*.db
*.sqlite
*.pyc
*.pyc
*.log
/modules/experimental-features/.venv-neural-connector
/venv
/training/venv
/training/data-gen-cpu/dupe/test_env
/training/studio-tools/tests/test_env
/training/data-gen-cpu/tests/test_env
/modules/iteration11-auto-pipeline/venv
/modules/pytorch-img-gen/venv
/modules/tutorials/data/MNIST/raw
*.gz
*.pyc
*.pyc
*.pyc
*.pt
*.pt
*.pt
reference/tesnsorized-data/50/19700101013121-J65371-417053B_color.pt
